{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<h1 class="text-center">

					Réinitialisation du mot de passe

				</h1>
				{{ form_start(PassForm) }}
				{{form_row(PassForm.password)}}

				<button class="btn btn-primary mt-2">
					Envoyer
				</button>
				{{ form_end(PassForm) }}
			</div>

		</div>
	</section>
{% endblock %}
