{% extends 'base.html.twig' %}

{% block title %}Liste de produits {% endblock %}

{% block body %}


<div class="example-wrapper">
 
    <h1>Détails de {{product.name}} </h1>

   

</div>
{% endblock %}
