{# {% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %} #}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">


				Bonjour
				{{user.lastname}} {{user.firstname}},
				<br>
				<p>Pour la Réinitialisation de votre mot de passe, veuillez cliquer sur le lien suivan :
					<a href=" {{url|raw }} ">{{url|raw }}</a>
				</p>
                    <hr>

                    <p> Merci ! </p>


			</div>

		</div>
	</section>
{% endblock %}
